<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.CorderMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Corder">
        <id column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="product_id" jdbcType="VARCHAR" property="productId" />
        <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
        <result column="request_date" jdbcType="TIMESTAMP" property="requestDate" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="quantity" jdbcType="INTEGER" property="quantity" />
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="file" jdbcType="VARCHAR" property="file" />
        <result column="status" jdbcType="INTEGER" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
    order_id, custom_id, product_id, order_date, request_date, note, quantity, unit_price,
    unit, image, file, status
    </sql>
    <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from c_order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>
</mapper>