<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.DepartmentMapper">
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Department">
    update department
    <set>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where department_id = #{departmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Department">
    update department
    set department_name = #{departmentName,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where department_id = #{departmentId,jdbcType=VARCHAR}
  </update>
</mapper>