<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.DeviceTypeMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.DeviceType">
    <id column="device_type_id" jdbcType="VARCHAR" property="deviceTypeId" />
    <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName" />
    <result column="device_type_model" jdbcType="VARCHAR" property="deviceTypeModel" />
    <result column="device_type_spec" jdbcType="VARCHAR" property="deviceTypeSpec" />
    <result column="device_type_supplier" jdbcType="VARCHAR" property="deviceTypeSupplier" />
    <result column="device_type_producer" jdbcType="VARCHAR" property="deviceTypeProducer" />
    <result column="device_type_quantity" jdbcType="INTEGER" property="deviceTypeQuantity" />
    <result column="device_type_warranty" jdbcType="TIMESTAMP" property="deviceTypeWarranty" />
  </resultMap>
  <sql id="Base_Column_List">
    device_type_id, device_type_name, device_type_model, device_type_spec, device_type_supplier, 
    device_type_producer, device_type_quantity, device_type_warranty
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_type
  </select>

</mapper>