<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.FinalMeasuretMapper">

  <!--结果映射-->
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.FinalMeasuret">
    <id column="f_measure_check_id" jdbcType="VARCHAR" property="fMeasureCheckId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="check_item" jdbcType="VARCHAR" property="checkItem" />
    <result column="cdate" jdbcType="TIMESTAMP" property="cdate" />
    <result column="measure_data" jdbcType="VARCHAR" property="measureData" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>

  <!--查询所有的结果映射-->
  <resultMap id="selectAllResultMap" type="com.cskaoyan.bean.vo.FinalMeasuretVo" extends="BaseResultMap">
      <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
  </resultMap>

  <!--查询的基sql语句-->
  <sql id="Base_Column_List">
    f_measure_check_id, order_id, check_item, cdate, measure_data, emp_id, result, note
  </sql>

  <sql id="Base_Column_List_selectAll">
    f_measure_check_id, order_id, check_item, cdate, measure_data, employee.emp_id, result, note,emp_name
  </sql>

  <!--根据主键查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="selectAllResultMap">
    select 
    <include refid="Base_Column_List_selectAll" />
    from final_measuret_check,employee
    where final_measuret_check.f_measure_check_id = #{fMeasureCheckId,jdbcType=VARCHAR}
    AND   final_measuret_check.emp_id = employee.emp_id;
  </select>

  <!--根据主键删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from final_measuret_check
    where f_measure_check_id = #{fMeasureCheckId,jdbcType=VARCHAR}
  </delete>

  <!--全属性插入-->
  <insert id="insert" parameterType="com.cskaoyan.bean.FinalMeasuret">
    insert into final_measuret_check (f_measure_check_id, order_id, check_item, 
      cdate, measure_data, emp_id, 
      result, note)
    values (#{fMeasureCheckId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{checkItem,jdbcType=VARCHAR}, 
      #{cdate,jdbcType=TIMESTAMP}, #{measureData,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>

  <!--选择属性的插入-->
  <insert id="insertSelective" parameterType="com.cskaoyan.bean.FinalMeasuret">
    insert into final_measuret_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fMeasureCheckId != null">
        f_measure_check_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="checkItem != null">
        check_item,
      </if>
      <if test="cdate != null">
        cdate,
      </if>
      <if test="measureData != null">
        measure_data,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fMeasureCheckId != null">
        #{fMeasureCheckId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null">
        #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="measureData != null">
        #{measureData,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--有选择的属性更新-->
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.FinalMeasuret">
    update final_measuret_check
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="checkItem != null">
        check_item = #{checkItem,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="measureData != null">
        measure_data = #{measureData,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where f_measure_check_id = #{fMeasureCheckId,jdbcType=VARCHAR}
  </update>

  <!--根据主键更新-->
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.FinalMeasuret">
    update final_measuret_check
    set order_id = #{orderId,jdbcType=VARCHAR},
      check_item = #{checkItem,jdbcType=VARCHAR},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      measure_data = #{measureData,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where f_measure_check_id = #{fMeasureCheckId,jdbcType=VARCHAR}
  </update>

  <!--选择出所有的-->
  <select id="selectAll" resultMap="selectAllResultMap">
    select
    <include refid="Base_Column_List_selectAll"/>
    from final_measuret_check ,employee
    where final_measuret_check.emp_id=employee.emp_id
  </select>


  <!--多选删除-->
  <delete id="deleteByIds">
    DELETE  FROM
    final_measuret_check
    <where>
      f_measure_check_id  IN
      <foreach collection = "array" item="id" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </where>
  </delete>

  <!--根据订单编号查询产品计数-->
  <select id="selectByOrderId" parameterType="java.lang.String" resultMap="selectAllResultMap">
    select
    <include refid="Base_Column_List_selectAll" />
    from final_measuret_check,employee
    where final_measuret_check.order_id = #{orderid,jdbcType=VARCHAR}
    and final_measuret_check.emp_id = employee.emp_id;
  </select>
</mapper>