<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.ProcessMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Process">
    <id column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="technology_plan_id" jdbcType="VARCHAR" property="technologyPlanId" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="quota" jdbcType="INTEGER" property="quota" />
  </resultMap>
  <sql id="Base_Column_List">
    process_id, technology_plan_id, sequence, quota
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from process
    where process_id = #{processId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from process
  </select>

  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Process">
    update process
    set technology_plan_id = #{technologyPlanId,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      quota = #{quota,jdbcType=INTEGER}
    where process_id = #{processId,jdbcType=VARCHAR}
  </update>
</mapper>