<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.ProcessMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Process" >
        <id column="process_id" property="processId" jdbcType="VARCHAR" />
        <result column="technology_plan_id" property="technologyPlanId" jdbcType="VARCHAR" />
        <result column="sequence" property="sequence" jdbcType="INTEGER" />
        <result column="quota" property="quota" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    process_id, technology_plan_id, sequence, quota
  </sql>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.cskaoyan.bean.Process" >
            select
            <if test="distinct" >
                distinct
            </if>
            <include refid="Base_Column_List" />
            from process
            <if test="_parameter != null" >
                <include refid="Where_Clause" />
            </if>
            <if test="orderByClause != null" >
                order by ${orderByClause}
            </if>
        </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from process
        where process_id = #{processId,jdbcType=VARCHAR}
    </select>


    <delete id="deleteByPrimaryKey">
        DELETE
        FROM
        process
        WHERE
        process_id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


    <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Process" >
    update process
    set technology_plan_id = #{technologyPlanId,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      quota = #{quota,jdbcType=INTEGER}
    where process_id = #{processId,jdbcType=VARCHAR}
  </update>

    <select id="searchProcessByProcessId" parameterType="string" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			process
		WHERE
			process_id LIKE CONCAT(
				'%',
				#{processId},'%' )
	</select>

    <select id="searchProcessByTechnologyPlanId" parameterType="string" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			process
		WHERE
			technology_plan_id LIKE CONCAT(
				'%',
				#{technologyPlanId},'%' )
	</select>



</mapper>