<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.TechnologyPlanMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.bean.TechnologyPlan">
        <id column="technology_plan_id" jdbcType="VARCHAR" property="technologyPlanId" />
        <result column="technology_id" jdbcType="VARCHAR" property="technologyId" />
        <result column="batch_amount" jdbcType="INTEGER" property="batchAmount" />
        <result column="start_plan" jdbcType="TIMESTAMP" property="startPlan" />
        <result column="end_plan" jdbcType="TIMESTAMP" property="endPlan" />
        <result column="commit_plan" jdbcType="TIMESTAMP" property="commitPlan" />
        <result column="technology_plan_start" jdbcType="TIMESTAMP" property="technologyPlanStart" />
        <result column="technology_plan_end" jdbcType="TIMESTAMP" property="technologyPlanEnd" />
        <result column="technology_name" property="technologyName" jdbcType="VARCHAR" />



    </resultMap>
    <select id="selectTechnologyPlanId" resultMap="BaseResultMap" parameterType="com.cskaoyan.bean.TechnologyPlan" >
    select * from technology_plan
</select>



    <sql id="Base_Column_List">
    technology_plan_id, technology.technology_id, batch_amount, start_plan, end_plan, commit_plan,
    technology_plan_start, technology_plan_end,technology_name
  </sql>
    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from technology_plan
        left join technology on technology.technology_id=technology_plan.technology_plan_id

    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from technology_plan
        where technology_plan_id = #{technologyPlanId,jdbcType=VARCHAR}
    </select>


    <insert id="insert" parameterType="com.cskaoyan.bean.TechnologyPlan">
    insert into technology_plan (technology_plan_id, technology_id, batch_amount,
      start_plan, end_plan, commit_plan,
      technology_plan_start, technology_plan_end
      )
    values (#{technologyPlanId,jdbcType=VARCHAR}, #{technologyId,jdbcType=VARCHAR}, #{batchAmount,jdbcType=INTEGER},
      #{startPlan,jdbcType=TIMESTAMP}, #{endPlan,jdbcType=TIMESTAMP}, #{commitPlan,jdbcType=TIMESTAMP},
      #{technologyPlanStart,jdbcType=TIMESTAMP}, #{technologyPlanEnd,jdbcType=TIMESTAMP}
      )
  </insert>








</mapper>