<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.TechnologyPlanMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.TechnologyPlan">
    <id column="technology_plan_id" jdbcType="VARCHAR" property="technologyPlanId" />
    <result column="technology_id" jdbcType="VARCHAR" property="technologyId" />
    <result column="batch_amount" jdbcType="INTEGER" property="batchAmount" />
    <result column="start_plan" jdbcType="TIMESTAMP" property="startPlan" />
    <result column="end_plan" jdbcType="TIMESTAMP" property="endPlan" />
    <result column="commit_plan" jdbcType="TIMESTAMP" property="commitPlan" />
    <result column="technology_plan_start" jdbcType="TIMESTAMP" property="technologyPlanStart" />
    <result column="technology_plan_end" jdbcType="TIMESTAMP" property="technologyPlanEnd" />
  </resultMap>
  <sql id="Base_Column_List">
    technology_plan_id, technology_id, batch_amount, start_plan, end_plan, commit_plan, 
    technology_plan_start, technology_plan_end
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from technology_plan
  </select>

</mapper>