<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.TechnologyMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Technology" >
    <id column="technology_id" property="technologyId" jdbcType="VARCHAR" />
    <result column="technology_name" property="technologyName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="vital_process_period" property="vitalProcessPeriod" jdbcType="VARCHAR" />
    <result column="standard_capacity" property="standardCapacity" jdbcType="INTEGER" />
    <result column="overtime_standard_capacity" property="overtimeStandardCapacity" jdbcType="INTEGER" />
    <result column="overtime_overfulfil_capacity" property="overtimeOverfulfilCapacity" jdbcType="INTEGER" />
    <result column="double_capacity" property="doubleCapacity" jdbcType="INTEGER" />
    <result column="overfulfil_capacity" property="overfulfilCapacity" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.cskaoyan.bean.Technology" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from technology
    <if test="_parameter != null" >
      <include refid="Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <sql id="Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    technology_id, technology_name, price, vital_process_period, standard_capacity, overtime_standard_capacity,
    overtime_overfulfil_capacity, double_capacity, overfulfil_capacity
  </sql>

  <insert id="insert" parameterType="com.cskaoyan.bean.Technology" >
    insert into technology (technology_id, technology_name, price,
      vital_process_period, standard_capacity, overtime_standard_capacity,
      overtime_overfulfil_capacity, double_capacity,
      overfulfil_capacity)
    values (#{technologyId,jdbcType=VARCHAR}, #{technologyName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
      #{vitalProcessPeriod,jdbcType=VARCHAR}, #{standardCapacity,jdbcType=INTEGER}, #{overtimeStandardCapacity,jdbcType=INTEGER},
      #{overtimeOverfulfilCapacity,jdbcType=INTEGER}, #{doubleCapacity,jdbcType=INTEGER},
      #{overfulfilCapacity,jdbcType=INTEGER})
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from technology
    where technology_id = #{technologyId,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey">
    DELETE
    FROM
    technology
    WHERE
    technology_id IN
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>




  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.bean.Technology" >
    update technology
    set technology_name = #{technologyName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      vital_process_period = #{vitalProcessPeriod,jdbcType=VARCHAR},
      standard_capacity = #{standardCapacity,jdbcType=INTEGER},
      overtime_standard_capacity = #{overtimeStandardCapacity,jdbcType=INTEGER},
      overtime_overfulfil_capacity = #{overtimeOverfulfilCapacity,jdbcType=INTEGER},
      double_capacity = #{doubleCapacity,jdbcType=INTEGER},
      overfulfil_capacity = #{overfulfilCapacity,jdbcType=INTEGER}
    where technology_id = #{technologyId,jdbcType=VARCHAR}
  </update>

  <select id="selectTechnologyByTechnologyId" parameterType="string" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			technology
		WHERE
			technology_id LIKE CONCAT(
				'%',
				#{technologyId},'%' )
	</select>

  <select id="selectTechnologyByTechnologyName" parameterType="string" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			technology
		WHERE
			technology_name LIKE CONCAT(
				'%',
				#{technologyName},'%' )
	</select>





</mapper>